In [1]:
import pandas as pd
import numpy as np
import os

**Import Dataset**

In [2]:
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/sf-salaries/Salaries.csv
/kaggle/input/sf-salaries/database.sqlite

In [3]:
df = pd.read_csv("/kaggle/input/sf-salaries/Salaries.csv")

/opt/conda/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3552: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
df.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [5]:
df.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [7]:
df.describe()

                  Id       TotalPay  TotalPayBenefits           Year  Notes
count  148654.000000  148654.000000     148654.000000  148654.000000    0.0
mean    74327.500000   74768.321972      93692.554811    2012.522643    NaN
std     42912.857795   50517.005274      62793.533483       1.117538    NaN
min         1.000000    -618.130000       -618.130000    2011.000000    NaN
25%     37164.250000   36168.995000      44065.650000    2012.000000    NaN
50%     74327.500000   71426.610000      92404.090000    2013.000000    NaN
75%    111490.750000  105839.135000     132876.450000    2014.000000    NaN
max    148654.000000  567595.430000     567595.430000    2014.000000    NaN

In [8]:
df["TotalPay"].mean()

74768.32197169267

In [9]:
df["TotalPay"].max()

567595.43

In [10]:
df[df["EmployeeName"]== "NATHANIEL FORD"]["JobTitle"]

0    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
Name: JobTitle, dtype: object

In [11]:
df[df["EmployeeName"]== "NATHANIEL FORD"]["TotalPayBenefits"]

0    567595.43
Name: TotalPayBenefits, dtype: float64

In [12]:
df[df["TotalPayBenefits"]==df["TotalPayBenefits"].max() ]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN

In [13]:
df[df["TotalPayBenefits"]==df["TotalPayBenefits"].min() ]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [14]:
df.groupby("Year").mean()["TotalPay"]

Year
2011    71744.103871
2012    74113.262265
2013    77611.443142
2014    75463.918140
Name: TotalPay, dtype: float64

In [15]:
df["Year"].unique()

array([2011, 2012, 2013, 2014])

In [16]:
df["JobTitle"].value_counts().head(6)
df["JobTitle"].value_counts()[:5]

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

In [17]:
df["JobTitle"].value_counts()

Transit Operator                                  7036
Special Nurse                                     4389
Registered Nurse                                  3736
Public Svc Aide-Public Works                      2518
Police Officer 3                                  2421
                                                  ...
CHIEF HOUSING INSPECTOR                              1
TRAFFIC SIGNAL OPERATOR                              1
COURT COMPUTER FACILITIES COORDINATOR                1
AUTOMOTIVE BODY AND FENDER WORKER SUPERVISOR I       1
VICTIM & WITNESS TECHNICIAN                          1
Name: JobTitle, Length: 2159, dtype: int64

In [18]:
(df[df["Year"]==2013]["JobTitle"].value_counts() == 1).tail(202)
(df[df["Year"]==2013]["JobTitle"].value_counts() == 1).sum()
pd.DataFrame(pd.Series(df[df["Year"]==2013]["JobTitle"].value_counts() == 1))

                                JobTitle
Transit Operator                   False
Special Nurse                      False
Registered Nurse                   False
Public Svc Aide-Public Works       False
Custodian                          False
...                                  ...
Sr General Utility Mechanic         True
Sprv Adult Prob Ofc (SFERS)         True
Mayoral Staff XII                   True
Pr Investigator, Tax Collector      True
Senior Assessment Clerk             True

[1051 rows x 1 columns]

In [19]:
pd.DataFrame(pd.Series(df["JobTitle"].unique()))

                                                   0
0     GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1                    CAPTAIN III (POLICE DEPARTMENT)
2               WIRE ROPE CABLE MAINTENANCE MECHANIC
3       DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
4                          ASSISTANT DEPUTY CHIEF II
...                                              ...
2154                    Sr Cnselor, Juv Hall (SFERS)
2155                  Forensic Toxicologist Supervis
2156                                      Conversion
2157                                       Cashier 3
2158                                    Not provided

[2159 rows x 1 columns]

In [20]:
def chief(string):

    if "chief" in (string.lower()):
        return True
    else :
        return False

In [21]:
df[df["JobTitle"].apply(lambda x : chief(x))]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
5,6,DAVID SULLIVAN,ASSISTANT DEPUTY CHIEF II,118602.0,8601.0,189082.74,NaN,316285.74,316285.74,2011,NaN,San Francisco,NaN
6,7,ALSON LEE,"BATTALION CHIEF, (FIRE DEPARTMENT)",92492.01,89062.9,134426.14,NaN,315981.05,315981.05,2011,NaN,San Francisco,NaN
8,9,MICHAEL MORRIS,"BATTALION CHIEF, (FIRE DEPARTMENT)",176932.64,86362.68,40132.23,NaN,303427.55,303427.55,2011,NaN,San Francisco,NaN
9,10,JOANNE HAYES-WHITE,"CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)",285262.0,0.0,17115.73,NaN,302377.73,302377.73,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
138011,138012,Sharon C Jackson,Chief Deputy Adlt Probation Of,56660.18,0.00,0.00,566.61,56660.18,57226.79,2014,NaN,San Francisco,PT
139620,139621,Anita S Lee,Chief Clerk,38598.86,0.00,0.00,386.00,38598.86,38984.86,2014,NaN,San Francisco,PT
139709,139710,George D Vaughan,Chief Nursery Specialist,27319.47,483.90,0.00,10334.67,27803.37,38138.04,2014,NaN,San Francisco,PT
140080,140081,Patrick W Gillespie,Chief Preparator,24091.00,0.00,0.00,10176.77,24091.00,34267.77,2014,NaN,San Francisco,PT
140156,140157,Christopher L Ochoa,Chief Stationary Engineer,24392.00,418.71,0.00,8918.44,24810.71,33729.15,2014,NaN,San Francisco,PT

In [22]:
df1=pd.DataFrame(df["JobTitle"].map(lambda x : len(x)))
df1["TotalPay"]=df["TotalPay"]
df1[["JobTitle","TotalPay"]].corr()

          JobTitle  TotalPay
JobTitle  1.000000 -0.015356
TotalPay -0.015356  1.000000

In [23]:
df[df['JobTitle'].str.contains('CHIEF', case=False)].shape

(627, 13)

In [24]:
df['EmployeeName'] = df['EmployeeName'].replace(r'(?i)Not Provided', np.nan, regex=True)
df[df.isnull().sum(axis=1)>=5].index

Int64Index([], dtype='int64')

In [25]:
df.drop(df[df.isnull().sum(axis=1)>=4].index , axis =0 , inplace = True)
df

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,NaN,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,NaN,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,NaN,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

In [26]:
df['EmployeeName'] = df['EmployeeName'].replace(r'(?i)Not Provided', np.nan, regex=True)

# best way to replace with none in int or float is to typecast as float every string will be converted into NaN

df['BasePay'] = pd.to_numeric(df['BasePay'], errors='coerce')
df['OvertimePay'] = pd.to_numeric(df['OvertimePay'], errors='coerce')
df['OtherPay'] = pd.to_numeric(df['OtherPay'], errors='coerce')
df['Benefits'] = pd.to_numeric(df['Benefits'], errors='coerce')
df['TotalPay'] = pd.to_numeric(df['TotalPay'], errors='coerce')
df['TotalPayBenefits'] = pd.to_numeric(df['TotalPayBenefits'], errors='coerce')

df.tail()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148649,148650,Roy I Tillery,Custodian,0.0,0.0,0.00,0.0,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,NaN,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,NaN,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,NaN,Not provided,NaN,NaN,NaN,NaN,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,PT

In [27]:
df.groupby('JobTitle')['TotalPay'].sum()

JobTitle
ACCOUNT CLERK                                     3654960.14
ACCOUNTANT                                         237146.34
ACCOUNTANT INTERN                                 1393523.66
ACPO,JuvP, Juv Prob (SFERS)                         62290.78
ACUPUNCTURIST                                       67594.40
                                                     ...
X-RAY LABORATORY AIDE                             1370352.89
X-Ray Laboratory Aide                             5082394.27
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      53632.87
Youth Comm Advisor                                 165657.23
ZOO CURATOR                                         66686.56
Name: TotalPay, Length: 2159, dtype: float64

In [28]:
insights = {
    'Max paid Job': [df.groupby('JobTitle')['TotalPay'].sum().idxmax(), df.groupby('JobTitle')['TotalPay'].sum().max()],
    'Max Employed Job': [df['JobTitle'].value_counts().idxmax(), df['JobTitle'].value_counts().max()],
    'Max paid Employee': [df[df['BasePay'] == df['BasePay'].max()]['EmployeeName'].values[0], df['BasePay'].max()],
    'Max paid Employee\'s Job': ['JobTitle',df[df['BasePay'] == df['BasePay'].max()]['JobTitle'].values[0]],
    'Max Overtime paid' : [df[df['OvertimePay'] == df['OvertimePay'].max()]['EmployeeName'].values[0], df['OvertimePay'].max()],
    'Max Benefits paid': [df[df['Benefits'] == df['Benefits'].max()]['EmployeeName'].values[0], df['Benefits'].max()],
    'Max paid Job (Avg)': [df['JobTitle'].value_counts().idxmax(), df.groupby('JobTitle')['BasePay'].mean().max()],
    'Average Base pay': ['Overall Average',df['BasePay'].mean()],
    'Average Overtime pay': ['Overall Average',df['OvertimePay'].mean()],
    'Average Benefit paid': ['Overall Average',df['Benefits'].mean()],
    'Average Salary': ['Overall Average',df['TotalPay'].mean()],
    
}

insights_df = pd.DataFrame(insights)
insights_df

,Max paid Job,Max Employed Job,Max paid Employee,Max paid Employee's Job,Max Overtime paid,Max Benefits paid,Max paid Job (Avg),Average Base pay,Average Overtime pay,Average Benefit paid,Average Salary
0,Transit Operator,Transit Operator,Gregory P Suhr,JobTitle,GARY JIMENEZ,William J Coaker Jr.,Transit Operator,Overall Average,Overall Average,Overall Average,Overall Average
1,455307629.71,7036,319275.01,Chief of Police,245131.88,96570.66,309767.683333,66325.505324,5065.961548,25007.893151,74768.273181